<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<logger name="org.springframework.web" level="INFO" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{requestId}] [%p] ${PID:- } [%t] %-40.40logger{39}[%line] : %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/logback.log</file>
		<!--日志文件输出的文件名-->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${LOG_PATH}/logback.%d{yyyy-MM-dd,Asia/Hong_Kong}.log.gz</fileNamePattern>
			<!--日志文件保留天数-->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{requestId}] [%p] ${PID:- } [%t] %-40.40logger{39}[%line] : %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <!--日志文件最大的大小-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>30MB</MaxFileSize>
        </triggeringPolicy>-->
	</appender>

    <springProfile name="dev">
        <logger name="com.huya.venus.sdk" additivity="false" level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>

    </springProfile>

    <springProfile name="test">
        <logger name="com.huya.venus.sdk" additivity="false" level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </logger>
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <springProfile name="local">
        <logger name="com.huya.venus.sdk" additivity="false" level="DEBUG">
            <appender-ref ref="CONSOLE" />
        </logger>
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <springProfile name="junit">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

</configuration>